* {
    background-color: rgb(227, 233, 250);
    /*background-color: rgb(200, 208, 241);*/
    color: rgb(0, 0, 0); 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

em, i{
    font-style: italic;
}

header {
    display:flex;
    align-items: center;
    gap: 20rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 47rem; /* Temporary space until we fill with 3D */
}

.logo a{
    position: fixed;
    margin-top: -2rem;
    margin-left: 2.5rem;
    background-color: transparent;
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: .1rem;
}

.side-text p{
    margin: 0rem;
    font-size: 2.2rem;
    letter-spacing: 1px;
    position: relative; top: 2rem; left: 11rem;
}

.bio{
    text-align: center;
    margin-top: -2rem;
}

.socials {
    text-align: center;
    font-size: 1.25rem;
}

.skills p {
    margin-top: 0rem;
    margin-left: 5.55rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.tools p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills-title, .projects-title{
    font-size: 18rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;
    letter-spacing: -.5rem;
}

.skills-tools-wrapper{
    display: flex;
    align-items: center;
    gap: 50rem;
}

.extra-skills{
    font-size: 6rem;
    transform: translateX(-30rem);
    margin-bottom: -1rem;
}

.tools p2{
    font-size: 2rem;
}

.protocols p{
    transform: translateX(-30rem);
}

.projects-title {
    margin-top: 10rem;
}
