*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f0f1fa;
    color: rgb(0, 0, 0);
}

a:visited {
  color: inherit; /* or color */
}

header{ /* basically header*/
    position: fixed;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 2.2rem;
}

/*.resume {
    position: fixed;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}*/

.side-text {
    margin-top: 2rem;
    padding: 1rem 9%;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio, .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42rem;
}

.socials {
    margin-top: .4rem;
    gap: .5rem;
    margin-bottom: 5rem;
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    margin-bottom: 5rem;
}

.skills-tools-wrapper {
  padding-right: 10rem; /* or try 2rem, 5%, etc. */
  font-size: 3rem;
  margin-bottom: 4rem;
}

.skills p, .tools p{
    margin-bottom: 3rem;
    margin-left: 10.7rem;
}

.projects-title-section{ 
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.projects-title{
    font-size: 10rem;
}

.projects-mission{
    padding-right: 1.5rem;
    margin-top: 6rem;
    font-size: 1rem;
}